html,
body,
#root {
  margin: 0;
  padding: 0;
  background: linear-gradient(225deg, #2B86C5 0%,rgb(120, 75, 160) 50%,#91253c 100% );
  ;
  background-attachment: fixed;

}
.responsiveCardBig {
  width: 30ch;
  height: 30ch;
  background: grey;
  border-radius: 5px;
  
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
  margin-bottom: 50px;

}
.ContainerCard{
  margin-bottom: 100px;
  margin-top: 50px;

}
.responsiveCardNormal {
  width: 20ch;
  height: 20ch;
  background: grey;
  border-radius: 5px;
  
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
  margin-bottom: 50px;
  
}
.responsiveCardTiny {
  width: 15ch;
  height: 15ch;
  background: grey;
  border-radius: 5px;
  
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
  margin-bottom: 50px;

}
.defaultCard {
  width: 40ch;
  height: 40ch;
  background: grey;
  border-radius: 5px;
  
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
  margin-top: 50px;
  margin-left: 60px;
  margin-bottom: 50px;

}
.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

.textAnimatedDiv{
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.7;
}
.textAnimatedDivTiny{
  position: center;
  bottom: 0px;
  right: 0px;
  background-color: black;
  color: white;
  opacity: 0.7;
}
.cardLink{
  color: white;
}
.cardLink:hover{
  color: white;
  text-decoration: white underline;
}
.textInside {
  text-align: center;
  color: white;
}
.headGenerator{
  text-align: center;
}
.icon{
  position: relative;
  bottom: 2px;
}
.styledForm{
  margin-left : 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  padding : 1em;
  border: 2px solid gray;
  border-radius: 15px ;
}
.styledDiv{
  margin-left : 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  padding : 1em;
  border: 2px solid gray;
  border-radius: 15px ;
}
.datePicker{
  border: 2 px solid rgb(128, 128, 128) !important
}
.customNav{
  border-bottom: white solid 1px;
}
/** Dropdown  part */
.customDropdown {
  background-image: linear-gradient(to right, #152F4F 0%, #10253f  51%, #152F4F  100%);
  border: none;
}
.customDropdown{
  width: 140px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  display: block;
  text-decoration: none;
  
}
.customDropdown:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
  color: white;
}

/** DropdownItem  part */

.customDropdownItem {
  border: none;
  background-image: linear-gradient(to right, #152F4F 0%, #10253f  51%, #152F4F  100%);

}
.customDropdownItem{
  width: 100%;
  text-align: center;
  transition: 1s;
  background-size: 200% auto;
  color: #fff;
  display: block;
  text-decoration: none;

}
.customDropdownItem:hover {
  background-position: right center; /* change the direction of the change here */
  background-image: linear-gradient(to right, #152F4F 0%, #10253f  51%, #152F4F  100%);
  text-decoration: none;
  color: white;
}

.customDropdownMenu{
  background-image: linear-gradient(to right, #152F4F 0%, #10253f  51%, #152F4F  100%);
  padding: 0%;  
  border: solid #908d91 1.8px;
}

/** clubs sportifs */
.customTabs{
  background-image: linear-gradient(to right, #152F4F 0%, #021b3a  51%, #152F4F  100%);
  color: white;
  border: none;

}

.customButton {

  background-image: linear-gradient(to right, rgb(21, 47, 79) 0%, rgb(16, 37, 63)  51%, rgb(21, 47, 79)  100%);
  border: none;
}

.customButton {
   width : 160px;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: #fff;
   width: auto;

   display: block;
 }

 .customButton:hover {
   background-position: right center; /* change the direction of the change here */
   text-decoration: none;
   color: white;

 }


/** profile part*/

.profilesvg{
  height: 70vh;
  background-image: url("../../public/static/img/svg/people.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center bottom;

}
.bluredInformations{
  backdrop-filter: blur(15px);
}
.locationsvg{
  
  height: 70vh;
  background-image: url("../../public/static/img/svg/booking.svg");
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center bottom;
}
.transparentTable{
  background: linear-gradient(225deg, rgba(43, 134, 197,0.5) 0%,rgba(120, 75, 160,0.5) 50%,rgba(145, 37, 60,0.5) 100% );
}
.fullsize{
  
  width: 100%;
  height: 100%;
}
.customProfileButton {
  background-image: linear-gradient(to right, rgb(21, 47, 79) 0%, rgb(16, 37, 63)  51%, rgb(21, 47, 79)  100%);
  border: none;

}
.customProfileButton {
  margin: auto;
  width : 180px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  display: block;
 }

 .customProfileButton:hover{
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
  color: white;

}
/* home  */
.locationHomeSvg{
  
  height: 40vh;
  background-image: url("../../public/static/img/svg/calendar.svg");
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center  ;
  
}
.locationHomeQ{
  margin:auto ;
  text-align: center;
  padding-top: 70px;
}

.bluredTitle{
  backdrop-filter: blur(10px) ;
  background: #e75864;
  border-radius: 0.25rem;
  color: whitesmoke;
  padding:4px
}

.customReservationButton {
  background-image: linear-gradient(to right, rgb(21, 47, 79) 0%, rgb(16, 37, 63)  51%, rgb(21, 47, 79)  100%);
  border: none;

}
.customReservationButton {
  margin: auto;
  width : 140px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  display: block;
 }

 .customReservationButton:hover{
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
  color: white;

}

/** modal button */

.customModalButton {
  background-image: linear-gradient(to right, rgb(21, 47, 79) 0%, rgb(16, 37, 63)  51%, rgb(21, 47, 79)  100%);
  border: none;
}
.customModalButton {
   width : 180px;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: #fff;


   display: block;
 }

 .customModalButton:hover {
   background-position: right center; /* change the direction of the change here */
   text-decoration: none;
   color: white;
  border: none;

 }
/** Footer **/
.footer{
  background-image: linear-gradient(to right, #152F4F 0%, #021b3a  51%, #152F4F  100%);
  color:white; 
}
.footer .links ul {
  list-style-type: none;
}
.footer .links li a{
      color: white;
      transition: color .2s;
}
.footer .links li a:hover{
        text-decoration:none;
        color:#4180CB;
        }
.about-company i{
  font-size: 25px;
}
.about-company a{
      color:white;
      transition: color .2s;
}
.about-company a:hover{
  color:#4180CB
}
.location i{
  font-size: 18px;
}
.location  .copyright p{
  border-top:1px solid rgba(255,255,255,.1);
} 

/** News part */

.newsvg{
  height: 70vh;
  background-image: url("../../public/static/img/svg/newspaper.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center bottom;
   
}
.bluredNews{
  backdrop-filter: blur(15px);
}
.customTypo{
  width: 100%;
  
  margin: 0 auto;
}
iframe{
  display:block;
  margin: auto;
}
.customAccordion{
  margin: 2em
}
.customActualityButton {
  background-image: linear-gradient(to right, rgb(21, 47, 79) 0%, rgb(16, 37, 63)  51%, rgb(21, 47, 79)  100%);
  border: none;

}
.customActualityButton {
  margin: auto;
  width : 180px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  display: block;
 }

 .customActualityButton:hover{
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
  color: white;

}
.customNewsDivInside{
  margin : 1em;
  border-top : white solid 1px; 
  display:flex;
}
.customNewsDivOutside{
  margin : 1em;
  display:flex;
}
.customPaginationDiv{
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.customActualityButtonPage {
  background-image: linear-gradient(to right, rgb(21, 47, 79) 0%, rgb(16, 37, 63)  51%, rgb(21, 47, 79)  100%);
  border: none;
  display: inline-block;
}
.customActualityButtonPage {
  width : 180px;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  display: block;
 }

.customActualityButtonPage:hover{
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
  color: white;
}
.customButtonPagination {
  background-color: transparent;
  border: none;
  display: inline-block;
}
.customButtonPagination {
  width : 180px;
  transition: 0.5s;
  background-color: transparent;
  background-size: 200% auto;
  color: #fff;
  display: block;
  margin: 1em;
 }

.customButtonPagination:hover{
  background-position: right center; /* change the direction of the change here */
  background-color: transparent;
  cursor: context-menu;
  text-decoration: none;
  color: white;
}
.customButtonPagination:disabled{
  background-color: transparent;
}
.customDivActuality{
  background-image: url("../../public/static/img/svg/reading.svg");
  
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center bottom;
}
/** Editor wysiwyg **/
.writenewsvg{
  height: auto;
  background-image: url("../../public/static/img/svg/typewriter.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center bottom;
}
.fieldsetActuality{
  display: flex;  
  height: auto;
  padding-left: 2rem;
  
}
.labelActuality{
  display: flex;
  border: dotted 1px black;
  padding: 2rem;
  
}
.rich-editor {
  padding: 2rem;
  
}
.rich-editor .rdw-editor-main {
  background-color: #fff;
}
.rich-editor .DraftEditor-editorContainer {
  padding: 1rem;
  max-height: 700px;
  overflow-Y: auto
}
.draft-editor-wrapper {
  border: 1px solid #ccc;
}
.html-view {
  background-color: #fff;
  color: #000;
  margin: auto;
  width: 80%;
  padding-left: 2rem;
  max-height: 200px;
  overflow-Y: auto;
  margin-bottom: 2rem;
 }
.editorTitle{
  color: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.customEditor{
  max-height: 180px;
  overflow-Y: auto
}
.previewButton {
  background-image: linear-gradient(to right, rgb(21, 47, 79) 0%, rgb(16, 37, 63)  51%, rgb(21, 47, 79)  100%);
  border: none;
  width : 160px;
  margin: auto;
  color: #fff;
  display: block;
  justify-content: center;
  align-items: center;
  height: auto;
  transition: 0.5s;
  background-size: 200% auto;
  margin-bottom: 2rem;
}
.previewButton:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
  color: white;

}
/** Booking part **/

.CalendarInputLink{
  color: white;
  transition: color .2s;
  text-decoration: none;

}
.CalendarInputLink:hover{
  text-decoration:none;
  color:#4180CB;
}
.CalendarInput{
  width: 250px;
}